.tabs {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;

	&__header {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		max-width: 515px;
		gap: 15px;

		&-item {
			border-radius: 12px;
			padding: 10px 50px;
			font-family: OpenSans-SemiBold, sans-serif;
			font-weight: 600;
			font-size: 16px;
			line-height: normal;
			color: rgb(198 199 201 / 50%);
			background-color: var(--martinique-color);
			transition: all 0.4s;
			cursor: pointer;

			&:hover {
				box-shadow: 0 0 25px 0 rgb(133 65 250 / 25%);
				color: var(--athens-gray-color);
				background: var(--electric-violet-color);
			}

			&.active {
				box-shadow: 0 0 25px 0 rgb(133 65 250 / 25%);
				color: var(--athens-gray-color);
				background: var(--electric-violet-color);
			}

			@media screen and (max-width: 768px) {
				text-align: center;
			}
		}

		@media screen and (max-width: 768px) {
			flex-direction: column;
			gap: 5px;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 40px;

		@media screen and (max-width: 768px) {
			margin-top: 15px;
		}
	}

	&__content-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 20px;

		@media screen and (max-width: 768px) {
			gap: 10px;
		}
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		border: 2px solid var(--martinique-color);
		border-radius: 12px;
		padding: 20px 30px 15px;
		width: 100%;
		max-width: 150px;

		@media screen and (max-width: 768px) {
			padding: 15px 15px 10px;
			max-width: 110px;
		}
	}

	&__icon {
		margin-bottom: 15px;
		width: 85px;
		height: 85px;

		@media screen and (max-width: 768px) {
			width: 75px;
			height: 75px;
		}
	}

	&__name {
		font-family: OpenSans-SemiBold, sans-serif;
		font-weight: 600;
		font-size: 14px;
		line-height: normal;
		text-align: center;
	}
}
