.section {
	padding: 10px 0;
}

.wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 12px;
	padding: 35px 40px;
	background-color: var(--mirage-color);

	@media screen and (max-width: 768px) {
		padding: 15px 10px;
	}
}

.title {
	@include adaptive-font(18, 16);
	line-height: normal;

	@media screen and (min-width: 1350px) {
		font-size: 18px;
	}
}
