// * Максимальная ширина макета
$container-width: 1000;

:root {
	// * Colors
	--vulcan-color: #10141d;
	--mirage-color: #151c2c;
	--blue-ribbon-color: #2550f7;
	--sunglow-color: #fcbd30;
	--electric-violet-color: #8541fa;
	--vul-color: #0c0a15;
	--silver-sand-color: #c6c7c9;
	--martinique-color: #2c314f;
	--athens-gray-color: #edecf1;
}
