<header class="header">
	<div class="header__container">
		<div class="header__menu menu">
			<button class="menu__burger burger btn-reset">
				<span class="burger__line"></span>
			</button>
			<nav class="menu__body">
				<ul class="menu__list list-reset">
					<li class="menu__item">
						<a class="menu__link link-reset" href="#works">
							<span class="menu__text">Примеры работ</span>
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#skills">
							<span class="menu__text">Навыки</span>
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#experience">
							<span class="menu__text">Опыт</span>
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#about">
							<span class="menu__text">Обо мне</span>
						</a>
					</li>
					<li class="menu__item">
						<a class="menu__link link-reset" href="#contacts">
							<span class="menu__text">Контакты</span>
						</a>
					</li>
				</ul>
			</nav>
			<button class="header__switch btn-reset">
				<span class="header__text">Светлая</span>
				<span class="header__inner btn-reset">
					<svg class="header__sun">
						<use href="img/icons/sprite.svg#sun"></use>
					</svg>
					<svg class="header__moon">
						<use href="img/icons/sprite.svg#moon"></use>
					</svg>
				</span>
				<span class="header__text header__text--active">Тёмная</span>
			</button>
		</div>
	</div>
</header>
