.footer {
	padding-bottom: 20px;

	&__title {
		margin: 0;
		margin-bottom: 30px;
	}

	&__inner {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 450px;
	}

	&__contact {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		width: 75px;
		height: 75px;
		background-color: var(--martinique-color);
		opacity: 0.4;
		transition: opacity 0.4s;

		&:hover {
			opacity: 1;
		}
	}

	&__icon {
		width: 30px;
		height: 30px;
		fill: var(--silver-sand-color);
		stroke: var(--silver-sand-color);
	}
}
