.hero {
	&__container {
		position: relative;
	}

	&__messengers {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		margin-bottom: 40px;
		width: 100%;

		@media screen and (max-width: 768px) {
			justify-content: center;
			margin-bottom: 20px;
		}
	}

	&__messenger-link {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;
		border-radius: 50%;
		width: 20px;
		height: 20px;
		background-color: var(--silver-sand-color);
		transition: background-color 0.4s;
		cursor: pointer;

		&:hover {
			background-color: var(--electric-violet-color);
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__icon {
		width: 12px;
		height: 12px;
	}

	&__inner {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;

		@media screen and (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media screen and (max-width: 768px) {
			align-items: center;
			margin-bottom: 15px;
		}
	}

	&__greeting {
		@include adaptive-font(20, 16);
		line-height: normal;

		@media screen and (min-width: 1350px) {
			font-size: 20px;
		}
	}

	&__title {
		@include adaptive-font(40, 24);
		margin: 0;
		margin-bottom: 10px;
		font-weight: 700;
		line-height: normal;
		color: var(--sunglow-color);

		@media screen and (min-width: 1350px) {
			font-size: 40px;
		}

		@media screen and (max-width: 768px) {
			text-align: center;
		}
	}

	&__profession {
		@include adaptive-font(24, 15);
		margin-bottom: 25px;
		font-weight: 600;
		line-height: normal;

		@media screen and (min-width: 1350px) {
			font-size: 24px;
		}
	}

	&__link {
		z-index: 0;
		line-height: normal;
	}

	&__img {
		border-radius: 50%;
		width: 100%;
		height: auto;
		max-width: 300px;

		@media screen and (max-width: 768px) {
			max-width: 200px;
		}
	}
}
