body.light-theme {
	color: var(--martinique-color);
	background-color: var(--white-color);

	.wrap {
		background-color: var(--athens-gray-color);
	}

	.header {
		&__inner {
			&::after {
				right: 100%;
				transform: translate(125%, 25%);
			}

			@media screen and (max-width: 576px) {
				&::after {
					transform: translate(120%, 25%);
				}
			}
		}

		&__text--active {
			color: var(--martinique-color);
		}

		&__switch {
			&:hover .header__text {
				&--active {
					color: var(--martinique-color);
				}
			}
		}
	}

	.burger {
		&__line,
		&::before,
		&::after {
			background-color: var(--martinique-color);
		}
	}

	.menu {
		background-color: var(--athens-gray-color);
	}

	.hero {
		&__messenger-link {
			background-color: var(--martinique-color);

			&:hover {
				background-color: var(--electric-violet-color);
			}
		}

		&__icon {
			fill: var(--athens-gray-color);
		}

		&__link {
			color: var(--athens-gray-color);
		}
	}

	.tabs {
		&__header-item {
			color: rgb(44 49 79 / 50%);
			background-color: var(--silver-sand-color);

			&:hover {
				box-shadow: 0 0 25px 0 rgb(133 65 250 / 25%);
				color: var(--athens-gray-color);
				background: var(--electric-violet-color);
			}

			&.active {
				box-shadow: 0 0 25px 0 rgb(133 65 250 / 25%);
				color: var(--athens-gray-color);
				background: var(--electric-violet-color);
			}
		}

		&__card {
			border: 2px solid var(--silver-sand-color);
			background-color: var(--silver-sand-color);
		}
	}

	.experience {
		&__card {
			background-color: rgb(198 199 201 / 50%);
		}
	}
}
