.works {
	&__title {
		margin: 0;
		margin-bottom: 25px;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	&__inner {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		width: 100%;
		min-height: 100%;
		background-color: rgb(44 49 79 / 80%);
		transition: all 0.4s;
	}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		border-radius: 10px 0 0 10px;
		padding: 10px;
		width: 100%;
		min-height: 100%;
		background-color: var(--martinique-color);
		opacity: 0;
		transition: all 0.4s;
		pointer-events: none;
	}

	&__heading {
		margin: 0;
		margin-bottom: 10px;

		&--no-margin-bottom {
			margin-bottom: 0;
		}
	}

	&__text {
		margin: 0;
	}

	&__inner-img {
		height: 100%;
		background-color: var(--martinique-color);
	}

	&__img {
		border-radius: 12px;
		width: 100%;
		height: auto;
	}

	&__stack {
		position: absolute;
		left: 0;
		top: 40px;
		z-index: -2;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 10px;
		width: 100%;
		background-color: var(--martinique-color);
		transition: top 0.4s;
		gap: 10px;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}

	&__links {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		border-radius: 0 10px 10px 0;
		padding: 10px;
		width: 100%;
		min-height: 100%;
		background-color: var(--martinique-color);
		opacity: 0;
		transition: all 0.4s;
		pointer-events: none;
		gap: 10px;
	}

	&__link-git {
		border-radius: 50%;
		padding: 10px;
		line-height: 0;

		&::before,
		&::after {
			border-radius: 50%;
		}
	}

	&__link-icon {
		width: 30px;
		height: 30px;
	}

	&__card {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 600px;
		transition: all 0.4s;

		&:hover {
			padding-top: 40px;
			max-width: 300px;
		}

		&:hover .works__content {
			left: -300px;
			opacity: 1;
			pointer-events: inherit;
		}

		&:hover .works__stack {
			top: 0;
		}

		&:hover .works__links {
			right: -300px;
			opacity: 1;
			pointer-events: inherit;
		}

		&:hover .works__inner {
			opacity: 0;
			pointer-events: none;
		}
	}
}
