.works {
	&__title {
		margin: 0;
		margin-bottom: 25px;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		width: 100%;
		gap: 20px;
	}

	&__card-inner {
		display: flex;
		justify-content: center;
		width: 100%;

		@media screen and (max-width: 768px) {
			justify-content: flex-start;
		}
	}

	&__inner {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 12px;
		width: 100%;
		min-height: 100%;
		background-color: rgb(44 49 79 / 80%);
		transition: all 0.4s;
	}

	&__content {
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		overflow-x: hidden;
		overflow-y: auto;
		border-radius: 10px 0 0 10px;
		padding: 10px;
		width: 100%;
		min-height: 100%;
		max-height: 100%;
		background-color: var(--martinique-color);
		opacity: 0;
		transition: all 0.4s;
		pointer-events: none;

		@media screen and (max-width: 768px) {
			border-radius: 0 10px 10px 0;
		}

		@media screen and (max-width: 576px) {
			min-height: 150px;
			transition: none;
		}
	}

	&__heading {
		@include adaptive-font(22, 18);
		margin: 0;
		margin-bottom: 10px;
		cursor: text;

		&--no-margin-bottom {
			margin-bottom: 0;
		}

		@media screen and (min-width: 1350px) {
			font-size: 20px;
		}
	}

	&__text {
		margin: 0;
		cursor: text;
	}

	&__inner-img {
		height: 100%;
		background-color: var(--martinique-color);
	}

	&__img {
		border-radius: 12px;
		width: 100%;
		height: 300px;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
		transition: all 0.4s;

		@media screen and (max-width: 768px) {
			height: 250px;
		}

		@media screen and (max-width: 576px) {
			height: 200px;
		}

		@media screen and (max-width: 425px) {
			height: 140px;
		}
	}

	&__stack {
		position: absolute;
		left: 0;
		top: 40px;
		z-index: -2;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		padding: 10px;
		width: 100%;
		background-color: var(--martinique-color);
		transition: top 0.4s;
		gap: 10px;
	}

	&__icon {
		width: 20px;
		height: 20px;
	}

	&__links {
		position: absolute;
		right: 0;
		top: 0;
		z-index: -1;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-start;
		border-radius: 0 10px 10px 0;
		padding: 10px;
		width: 100%;
		min-height: 100%;
		max-height: 100%;
		background-color: var(--martinique-color);
		opacity: 0;
		transition: all 0.4s;
		pointer-events: none;
		gap: 10px;

		&--hidden {
			display: none;
		}

		@media screen and (max-width: 768px) {
			display: none;
		}
	}

	&__link-git {
		border-radius: 50%;
		padding: 10px;
		line-height: 0;

		&::before,
		&::after {
			border-radius: 50%;
		}
	}

	&__link-icon {
		width: 30px;
		height: 30px;
		fill: var(--white-color);
	}

	&__card {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 600px;
		transition: all 0.4s;
		cursor: pointer;

		&.active {
			padding-top: 40px;
			max-width: 300px;
			cursor: default;

			.works__inner {
				opacity: 0;
				pointer-events: none;
			}

			.works__img {
				border-radius: 0;
				height: 160px;
			}

			.works__content {
				left: -300px;
				opacity: 1;
				transition: all 0.4s;
				pointer-events: inherit;
			}

			.works__stack {
				top: 0;
			}

			.works__links {
				right: -300px;
				opacity: 1;
				pointer-events: inherit;
			}
		}

		@media screen and (max-width: 1023.98px) {
			&.active {
				min-height: 200px;
				max-width: 220px;
				background-color: var(--martinique-color);

				.works__content {
					left: -220px;
				}

				.works__links {
					right: -220px;
				}

				.works__img {
					height: 120px;
				}
			}
		}

		@media screen and (max-width: 768px) {
			max-width: 525px;

			&.active {
				border-radius: 10px 0 0 10px;
				min-height: 220px;
				max-width: 260px;

				.works__content {
					left: 260px;
				}

				.works__text {
					margin-bottom: 10px;
				}

				.works__stack {
					border-radius: 10px 0 0;
				}

				.works__links--hidden {
					position: static;
					display: flex;
					flex-flow: row wrap;
					padding: 0;
					min-height: 50px;
				}
			}
		}

		@media screen and (max-width: 576px) {
			max-width: 375px;

			&.active {
				border-radius: 10px;
				padding-bottom: 190px;
				max-width: 375px;
				background-color: transparent;

				.works__stack {
					border-radius: 10px 10px 0 0;
				}

				.works__content {
					left: 0;
					top: 240px;
					border-radius: 10px;
				}

				.works__img {
					border-radius: 0;
					height: 200px;
				}
			}
		}

		@media screen and (max-width: 425px) {
			max-width: 270px;

			&.active {
				.works__img {
					height: 140px;
				}

				.works__content {
					top: 180px;
				}
			}
		}
	}
}
